.applications__new
  .contents
    = form_with model: @license, local: true, url: applications_path, class: "contents" do |f|
      .contents__header
        %h2
          申請内容を入力

      .contents__category
        %label
          カテゴリー
        .contents__category__form
          = f.select :category, License.categories.keys.to_a, include_blank: "---", class: "contents__category__select"
          
      .contents__type
        %label
          申請種別
        .contents__type__form
          = f.select :type_name, License.type_names.keys.to_a, include_blank: "---", class: "contents__type_name__select"
        .contents__rank__form
          = f.select :rank, License.ranks.keys.to_a, include_blank: "---", class: "contents__rank__select"

      .contents__name
        %label
          申請先
        .contents__name__form
          = f.select :government_user_id, License.government_user_ids.keys.to_a, include_blank: "---", class: "contents__name__select"

      .contents__facility
        %label
          対象物件
        .contents__facility__form
          工事なら図面と写真、更新なら総数が見える機能を実装（地中は検討中）

      .contents__day
        %label
          期間
        .contents__day__form
          始期
          != sprintf(f.date_select(:start_day, prefix:'start_day', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:2200, date_separator:'%s'),'年','月')+'日'
          終期
          != sprintf(f.date_select(:end_day, prefix:'start_day', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:2200, date_separator:'%s'),'年','月')+'日'


      .contents__comment
        %label
          説明文
        .contents__comment__form
          = text_area :comment, class:"contents__comment__form__text", placeholder: "",maxlength: "1000"

      .contents__status
        %label
          ステータス
        .contents__status__form
          新規登録

      .contents__btn
        = f.submit "仮登録", class:"contents__btn__temporary"
        = link_to "#", class:"contents__btn__registration" do
          申請